<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<!-- Обвертка -->
    <div id="wrapper">
        <!-- Верхняя панель -->
        <div class="panel-top">
            <div class="center clearfix">
                @if (User.Identity.IsAuthenticated)
                {
                <div class="basket">
                    @Html.ActionLink("Корзина", "Cart", "Orders", null, new { id = "cart-link" })
                </div>
                }
                <div class="login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Личный кабинет", "Profile", "Account")
                        <span>/</span>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти (@User.Identity.Name)</a>
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Вход", "Login", "Account")
                        <span>/</span>
                        @Html.ActionLink("Регистрация", "Register", "Account")
                    }
                </div>
            </div>
        </div>
        <!-- // Верхняя панель -->
        <!-- Шапка сайта -->
        <div id="header" class="center clearfix">
            <!-- Логотип -->
            <div id="logo" class="left">
                <a href="/">
                    <img src="/images/logo.png" height="60" width="61" alt="Game Store" />
                    <span>Game Store</span>
                </a>
            </div>
            <!-- // Логотип -->
            <!-- Навигация -->
            <ul class="nav right clearfix">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li>@Html.ActionLink("НОВОСТИ", "Index", "News")</li> <!-- <li><a href="/">НОВОСТИ</a></li> -->
                <li>@Html.ActionLink("КОНТАКТЫ", "Contact", "Home")</li>
                <li>
                    @if (User.IsInRole("admin"))
                    {
                    <a data-toggle="dropdown" href="#">
                        Панель администратора
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink("Добавить игру", "Create", "Games")</li>
                        <li class="divider" style="float: none"></li>
                        <li>@Html.ActionLink("Управление категориями", "Index", "Categories")</li>
                        <li>@Html.ActionLink("Управление комментариями", "Index", "GameComments")</li>
                        <li>@Html.ActionLink("Управление пользователями", "Index", "Customers")</li>
                        <li>@Html.ActionLink("Корзины покупателей", "Index", "Orders")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Последние продажи", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Топ продаж", "SalesTop", "Admin")</li>
                        <li>@Html.ActionLink("Продажи по датам", "SalesByDate", "Admin")</li>
                    </ul>
                    }
                </li>
            </ul>
            <!-- // Навигация -->
        </div>
        <!-- // Шапка сайта -->

        <div id="home">
            <div class="home-bg">
                <div class="center">
                    <a href="/" class="link-home">&nbsp;</a>
                    <h2 class="title-home">ИНТЕРНЕТ-МАГАЗИН КОМПЬЮТЕРНЫХ ИГР</h2>
                   <!--<ul class="breadcrumbs clearfix">
                        <li><a href="/">Главная</a><span class="sp">&raquo;</span></li>
                        <li><a href="/">Магазин</a><span class="sp">&raquo;</span></li>
                    </ul>--> 
                </div>
            </div>
        </div> 
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
	<!-- // Обвертка --> 
<div id="footer">
		<a href="#home-link" class="home-link">&nbsp;</a>
		<div class="footer-bottom">
			<div class="center">
				<a href="/">Главная</a>
				@Html.ActionLink("НОВОСТИ", "Index", "News")
				@Html.ActionLink("Контакты", "Contact", "Home")    
				<p class="right">&copy; 2016 Game-store.ru</p>
			</div>          
		</div>
	</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


</body>
</html>
<script>
// скрипт для показа количества игр в кнопке "Корзина"
    window.onload = getGamesInCart();
    function getGamesInCart() {
        var gamesInCart = getCookie("gamesInCart");
        var cart = document.getElementById("cart-link");
        if (gamesInCart > 0 && cart != null) { cart.innerHTML = 'Корзина (' + gamesInCart + ')' };
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>