@model PagedList.IPagedList<GameShop.Models.GameComment>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Отзывы покупателей";
}

<h2>Отзывы покупателей</h2>

<table class="table">
    <tr>
        <th>
            <b>Покупатель</b>
        </th>
        <th>
            <b>Игра</b>
        </th>
        <th>
            <b>Оценка</b>        
        </th>
        <th>
            <b>Комментарий</b>
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))