@model GameShop.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать Игру", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Каталог", "Index")
</p>
<hr/>
@Html.ActionLink("Оставить свой отзыв", "Create", "GameComments", new { id = Model.Id }, null)
<hr />
<h4>
    Отзывы:
</h4>

@{
    foreach (var gameComment in Model.GameComments)
    {
        <div>
            <p>@gameComment.Time пользователь <b>
                @gameComment.Customer.FirstName
                @gameComment.Customer.LastName</b>  оставил отзыв:
            </p> 
            <p>Оценка: @gameComment.Rating</p>
            <p>@gameComment.Comment</p>
            @if (gameComment.Customer.Login == User.Identity.Name)
            {
                <p>@Html.ActionLink("Редактировать", "Edit", "GameComments", new { id = gameComment.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "GameComments", new { id = gameComment.Id }, null)</p>
            }
            <hr />
        </div>        
    }
}


