@model PagedList.IPagedList<GameShop.Models.Game>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Список игр";
}

<style>
    
.descript{ 
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

</style>

<script>
    function priceValue(){
        var price = document.getElementById("price").innerHTML = document.getElementById("price-filter").value;
    }
</script>

<h2>Список игр</h2>

<form method="get" action="/Games/Index">
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" name="search" />
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-default" value="Найти" />
        </div>
        <div class="col-md-3">
            <input type="range" min="0" max="100000" oninput="priceValue()" id="price-filter" name="searchPrice" /> 
            <p id="price">0</p>
        </div>
    </div>
    <div>
    </div>
</form>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            <b>Категории</b>
        </th>
        <th>
            <b>Название</b>
        </th>
        <th>
            <b>Рейтинг</b>
        </th>
        <th>
            <b>Цена</b>
        </th>
        <th>
            <b>Описание</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id }) 
            </td>
            <td>
                @for (var i = 0; i < item.Rating; i++)
                {
                    @Html.Raw("&#9733");
                }@for (var i = item.Rating; i < 10; i++)
    {
                    @Html.Raw("&#9734");
    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Description, new { @class = "p" })*@
                <div class="descript">@Html.DisplayFor(modelItem => item.Description)</div>
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</span>
                    <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |</span>
                }
                @Html.ActionLink("Добавить в корзину", "AddToCart", "Orders", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
@{ 
    int gamesPerPage = ViewBag.gamesPerPage;
    var perPageList = new int[4] { 5, 10, 20, 50 }; // массив вариантов кнопок изменения паджинации
<p>
    Игр на странице:
    @foreach (var perPage in perPageList) // выводим кнопки изменения паджинации
    {
        if (perPage == gamesPerPage)
        { @perPage }
        else
        { <a href="#" onClick="setGamesPerPage(@perPage);">@perPage</a> }
    }
</p>
<hr />
    foreach (var item in Model)
    {
            <div style="width: 200px; height: 350px; float: left; border: 1px solid grey; padding: 10px; margin: 15px">
                <div style="width: 180px; height:180px;background-color: grey;">картинка</div>
                    
                    <h4>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h4>
                    <h5>@item.Category.Name</h5>
                    @for (var j = 0; j < item.Rating; j++)//показ звездочек рейтинга
                    {
                        @Html.Raw("&#9733");
                    }@for (var j = item.Rating; j < 10; j++)
            {
                    @Html.Raw("&#9734");
            } 
                
                <p>@item.Description</p>
                <p>
                    <h4>@item.Price &#8381
                    @Html.ActionLink("В корзину", "AddToCart", "Orders", new { id = item.Id }, null)</h4>
                    </p>
            </div>
        }
    }
<div style="clear: left">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<script>
    function setGamesPerPage(gamesPerPage) {
        var d = new Date();
        d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000)); //кука живет 30 дней
        document.cookie = "gamesPerPage=" + gamesPerPage + ";expires=" + d.toUTCString();
        location.reload();
    }
</script>


