@model IEnumerable<GameShop.Models.Game>

@{
    ViewBag.Title = "Index";
}

<style>
    
.descript{ 
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td>
            @for (var i = 0; i < item.Rating ;i++)
            {
                @Html.Raw("&#9733");
            }@for (var i = item.Rating; i < 10; i++)
            {
                @Html.Raw("&#9734");
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Description, new { @class = "p" })*@
            <div class="descript">@Html.DisplayFor(modelItem => item.Description)</div>
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</span>
                <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |</span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Добавить в корзину", "AddToCart", new { id = item.Id})
        </td>
    </tr>
}

</table>
