@model PagedList.IPagedList<GameShop.Models.Game>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Список игр";
}

<style>
    
.descript{ 
    width: 200px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

</style>
                                                                                                            
<h2>Список игр</h2>



@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@{ 
    int gamesPerPage = ViewBag.gamesPerPage;
    var perPageList = new int[4] { 6, 12, 24, 48 }; // массив вариантов кнопок изменения паджинации
<p>
    Игр на странице:
    @foreach (var perPage in perPageList) // выводим кнопки изменения паджинации
    {
        if (perPage == gamesPerPage)
        { @perPage }
        else
        { <a href="#" onClick="setGamesPerPage(@perPage);">@perPage</a> }
    }
</p>
<hr />
    <div class="row">
        <div class="col-xs-9">
            @foreach (var item in Model)
            {
                <div style="width: 220px; height: 400px; float: left; border: 1px solid grey; padding: 10px; margin: 15px">
                    <a href="/Games/Details/@item.Id"><img src="@item.GamePosterUrl" style="width:180px; height:180px" alt="kartinka"/></a>

                    <h4>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h4>
                    <h5>@item.Category.Name</h5>
                    @for (var j = 0; j < item.Rating; j++)//показ звездочек рейтинга
                    {
                        @Html.Raw("&#9733");
                    }@for (var j = item.Rating; j < 10; j++)
                {
                        @Html.Raw("&#9734");
                }

                    <p class="descript">@item.Description</p>
                    <p>
                        <h4>
                            @item.Price &#8381
                        @Html.ActionLink("В корзину", "AddToCart", "Orders", new { id = item.Id }, null)

                            @if (User.IsInRole("admin"))
                            {
                                <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</span>
                                <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |</span>
                            }
                    </h4>
                </p>
            </div>
            }
        </div>
        <div class="col-xs-3">
            <form method="post" action="/Games/Index">            
                @Html.Label("Поиск по названию:")  
                <input type="text" class="form-control" name="search" />
                @Html.Label("Поиск по категориям:")
                <div class="form-inline">
                    <div class="form-group">
                        @Html.CheckBox("Fcategory", false)
                    </div>
                    <div class="form-group" style="margin: 0px 0px 10px 0px">
                        @Html.DropDownList("categoryList", null, new { @class = "form-control" })
                    </div>
                </div> 
                <input type="submit" class="btn btn-default" value="Найти" />
            </form>
        </div>
    </div>
}
<div class="row">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<script>
    function setGamesPerPage(gamesPerPage) {
        var d = new Date();
        d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000)); //кука живет 30 дней
        document.cookie = "gamesPerPage=" + gamesPerPage + ";expires=" + d.toUTCString();
        location.reload();
    }
</script>


